.graph-div {
    text-align: center;
    font-size: 20px;
    margin-bottom: 90px;
}

.graph {
    width: 80%;
    display: inline-block;
    border: 2px solid lightgrey;
    border-radius: 12px;
    padding: 3px;
}

.graph-types {
    width: 100%;
    display: inline-block;
}

.graph-text {
    text-align: justify;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
